<div *ngIf="viewMode; else editable" class="player-details">
  <div *ngIf="currentPlayer.id">
    <h4 class="player-heading">Player</h4>
    <div class="player-info">
      <label><strong>First Name:</strong></label> {{ currentPlayer.firstName }}
    </div>
    <div class="player-info">
      <label><strong>Last Name:</strong></label>
      {{ currentPlayer.lastName }}
    </div>
    <div class="player-info">
      <label><strong>Age:</strong></label>
      {{ currentPlayer.age }}
    </div>
    <div class="player-info">
      <label><strong>Team:</strong></label>
      {{ currentPlayer.team }}
    </div>
    <a class="edit-link" routerLink="/players/{{ currentPlayer.id }}">
      Edit
    </a>
  </div>
  <div *ngIf="!currentPlayer">
    <br />
    <p class="select-player-text">Please select a player...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentPlayer.id" class="edit-form">
    <h4 class="player-heading">Player</h4>
    <form>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="currentPlayer.firstName" name="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="currentPlayer.lastName" name="lastName" />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="currentPlayer.age" name="age" />
      </div>
      <div class="form-group">
        <label for="team">Team</label>
        <input type="text" class="form-control" id="team" [(ngModel)]="currentPlayer.team" name="team" />
      </div>
    </form>
    <button class="delete-button" (click)="deletePlayer()">
      Delete
    </button>
    <button type="submit" class="update-button" (click)="updatePlayer()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentPlayer.id">
    <br />
    <p class="loading-text">Loading...</p>
  </div>
</ng-template>